<!---------------------------------------------------------->
<!--                     Product List                     -->
<!---------------------------------------------------------->
<div class="productList" *ngIf="products.length > 0">
  <div class="productList__header">
    <h2 class="productList__header_title">Products</h2>
    <button class="productList__header_btn" type="button">Sync</button>
  </div>
  <!---------------------------------------------------------->
  <!--                     Product                          -->
  <!---------------------------------------------------------->
  <div class="productList__container">
    <div class="product" *ngFor="let product of products">
      <span class="product__flag">Sync</span>
      <figure class="product__img">
        <img [src]="product.imageUrl" alt="Avatar" />
      </figure>
      <div class="product__details">
        <h4 class="product__details_name">
          {{ product.name }}
          {{ product.category }}
        </h4>
        <p class="product__details_price">{{ product.price }}</p>
      </div>
    </div>
  </div>
</div>
