<!---------------------------------------------------------->
<!--               SideBar Filter By Category             -->
<!---------------------------------------------------------->
<aside class="sidebar" *ngIf="this.products.length > 0">
  <h3>Products</h3>
  <a [routerLink]="['']" (click)="filterProducts('all')"
    >All ({{ allLength }})</a
  >
  <a [routerLink]="['']" (click)="filterProducts('simple')"
    >Simple Tools ({{ simpleLength }})</a
  >
  <a [routerLink]="['']" (click)="filterProducts('complex')"
    >Complex Tools ({{ complexLength }})</a
  >
</aside>
